.sidebar-content {
  display: flex;
  height: 100vh;
  width: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-content h1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input {
  width: 300px;
  background-color: rgba(235, 232, 232, 0.445);
  border-radius: 5px;
  font-size: 50px !important;
}

.chrome-picker {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px !important;
}

.side-buttons {
  width: 86%;
  font-family: sans-serif;
  display: table-cell;
  vertical-align: middle;
}

.side-button1 {
  width: 49%;
  margin-right: 5px;
}
.side-button2 {
  width: 49%;
}

.add-button {
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
  font-size: 20px;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.add-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add-button:active {
  opacity: 1;
  cursor: pointer;
  transform: translate(0px, 1px);
}
