.sidebar-content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  background-color: rgba(235, 232, 232, 0.445);
  border-radius: 5px;
}

.chrome-picker {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px !important;
}

.side-buttons {
  width: 86%;
}

.side-button {
  width: 50%;
}

.add-button {
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.add-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.add-button:active {
  opacity: 1;
  cursor: pointer;
  transform: translate(0px, 1px);
}
