.main {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -6px;
}

.main:hover {
  .delete-icon {
    color: white;
    transform: scale(1.4);
  }
}

.content {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 0 5px;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.delete-icon {
  transition: all 0.2s ease-in-out;
}
