//variables
@md: 991.98px;
@s: 575.98px;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
}

.name {
  margin: 15px;
  padding: 0 10px;

  background-color: aliceblue;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.name a {
  font-weight: 600;
  color: black;
}

.slider-box {
  display: flex;
  align-items: center;
}

.slider {
  width: 340px;
  margin: 0 10px;

  .ant-slider-step {
    background: rgb(221, 218, 218);
  }

  .ant-slider-handle,
  .ant-slider-handle:focus {
    background-color: rgb(190, 144, 207);
    border: #000;
    box-shadow: none;
  }

  .ant-slider-handle.ant-tooltip.open {
    border: #000;
  }
}
@media all and (max-width: @md) {
  .slider {
    width: 280px;
  }
}
@media all and (max-width: @s) {
  .name {
    display: none;
  }
  .slider-box span {
    display: none;
  }
  .slider {
    width: 170px;
  }
  .navbar {
    justify-content: center;
  }
}

.select {
  margin-right: 10px;
}
