//variables
@import "global.less";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.palette-name-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 10px;
}

.header-btn {
  margin-right: 5px;
  margin-left: 10px;
}
