.ant-drawer.ant-drawer-open .ant-drawer-mask {
    height: 100%;
    opacity: 0;
    transition: none;
    pointer-events: auto;
    animation: none;
}

.ant-layout-sider-children{
    width: 100%;
}


.sidebar {
    background-color: grey;
    overflow: hidden;
    
}

.sidebar-content {
    margin-top: 60%;
    text-align: center;

}

.chrome-picker {
    margin: auto;
    margin-top: 15px;
}

.side-buttons {
    padding: 10px;
}

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: white;
}