.ant-drawer.ant-drawer-open .ant-drawer-mask {
    height: 100%;
    opacity: 0;
    transition: none;
    pointer-events: auto;
    animation: none;
}

.ant-layout-sider-children{
    width: 100%;
}


.sidebar {
    background-color: grey;
    overflow: hidden;
    
}

.sidebar-content {
    margin-top: 60%;
    text-align: center;

}

.chrome-picker {
    margin: auto;
    margin-top: 15px;
}

.side-buttons {
    padding: 10px;
}

.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: white;
}


.add-button {
    flex-wrap: wrap;
    margin: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    width: 250px;
    color: white;
    text-align: center;
    padding: 15px 10px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    }

    .add-button:hover {
        opacity: 0.9;
        cursor: pointer;
    }

    .add-button:active {
        opacity: 1;
        cursor: pointer;
        transform: translate(0px, 1px);
    }
