.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ant-drawer.ant-drawer-open .ant-drawer-mask {
  height: 100%;
  opacity: 0;
  transition: none;
  pointer-events: auto;
  animation: none;
}

.ant-layout-sider-children {
  width: 100%;
}

.ant-layout-header {
  background: #cbd0d4;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar {
  background-color: #fff;
  box-shadow: 12px 0px 98px -60px rgba(0, 0, 0, 1);
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: white;
}

//main content
.main-content {
  height: 100vh;
  overflow: hidden;
}
